:root {
    --primary-text-color: #213547;
    --primary-white: #faf9f9;
    --primary-gray: #e5e5e5;
    --secondary-gray: #ccc;
    --accent: #162639FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--primary-gray);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.container {
    margin: 0 auto;
}

.aside-info-container li {
    line-height: 1.5;
}

.resume {
    margin: .6rem auto;
    padding: 0 1.9rem;
    max-width: 998px;
    background-color: var(--primary-white);
    color: var(--primary-text-color);
}

.main-content {
    display: flex;
    gap: 0 2.5rem;
}

.main-content .container:first-child {
    min-width: 30%;
}

.resume-block {
    padding-bottom: 1.9rem;
}

.certifications-info-item span {
    flex: 1 1 auto;
    text-align: left;
    display: flex;
}

.certifications-info-item span::after {
    content: "";
    border-bottom: 2px dotted var(--secondary-gray);
    flex: 1 1 auto;
    margin: .6rem;
}

.certifications-info-item a {
    display: flex;
    text-decoration: none;
    color: var(--secondary-gray);
}

.footer-content {
    margin-top: -1rem;
}

.certification-info-item small {
    text-align: center;
}


.contact-info-item-icon path {
    fill: var(--accent);
}

.hide-title {
    display: none;
}

@media screen and (width <= 576px) {
    .resume {
        margin: 0 auto;
    }

    .main-content {
        flex-direction: column-reverse;
    }

    .resume-block {
        padding-bottom: 1.25rem;
    }

}
